<div class="container mt-5 text-center">
	<h1>Welcome to Solana Payment Gateway</h1>
	<p class="fs-3">for creating the order click here .. <%= link_to 'Product', new_verification_product_path, class: 'text-decoration-none' %></p>
</div>